html,
body {
  padding: 0;
  margin: 0;
  font-family: Poppins, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

:root {
  --text-dark: #8f9ba8;
}

a {
  color: inherit;
  text-decoration-color: var(--text-dark);
}

* {
  box-sizing: border-box;
}

::-moz-selection {
  color: white;
  background: black;
}

::selection {
  color: white;
  background: black;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }

  body {
    color: white;
    background: black;
  }

  :root {
    --text-dark: #8f9ba8;
  }

  ::-moz-selection { /* Code for Firefox */
    color: black;
    background: white;
  }
  
  ::selection {
    color: black;
    background: white;
  }
}
